/* category box */

.state-change-appear #category-box, 
.state-change-enter #category-box {
    animation-name: slide-from-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.state-change-exit #category-box {
    animation-name: slide-from-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: both;
}

/* question box */

#question-box {
    height: 50vh;
    padding: 2em;
    justify-content: center;
    align-content: center;
    overflow: auto;
    position: relative;
}

.question-box-anim-appear, 
.question-box-anim-enter {
    animation-name: slide-from-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.question-box-anim-exit, 
.state-change-exit #question-box {
    animation-name: slide-from-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: both;
}

#correct-answer {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1em;

    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

/* responder info */

.responder-info-box-anim-appear, 
.responder-info-box-anim-enter {
    animation-name: slide-from-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.responder-info-box-anim-exit {
    animation-name: slide-from-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: both;
}