.board-panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    padding: 1em;
}

.board-column {
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
    will-change: transform;
}

.board-column.even {
    transform: translateY(-100vh);
}

.board-column.odd {
    transform: translateY(100vh);
}

.session-state-appear-active .board-column.visible,
.session-state-appear-done .board-column.visible,
.session-state-enter-active .board-column.visible,
.session-state-enter-done .board-column.visible {
    transform: translateY(0);
}

.session-state-appear-active .board-column.visible,
.session-state-enter-active .board-column.visible {
    transition-delay: 50ms;
}