/* category box */

.session-state-appear #category-box, 
.session-state-enter #category-box {
    animation-name: slide-from-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.session-state-exit #category-box {
    animation-name: slide-from-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: both;
}

/* question box */

#question-box {
    height: 50vh;
    padding: 2em;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.question-box-anim-appear, 
.question-box-anim-enter {
    animation-name: slide-from-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.question-box-anim-exit, 
.session-state-exit #question-box {
    animation-name: slide-from-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: both;
}

#correct-answer {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1em;
}

.correct-answer-anim-appear,
.correct-answer-anim-enter {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.correct-answer-anim-exit {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}

/* responder info */

.responder-info-anim-appear, 
.responder-info-anim-enter {
    animation-name: slide-from-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.responder-info-anim-exit {
    animation-name: slide-from-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: both;
}