@keyframes move-x {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 30em);
    }
}

@keyframes move-y {
    from {
        top: 0;
    }

    to {
        top: calc(100% - 30em);
    }
}

.bounce-anim {
    animation: move-x 3.25s linear 0s infinite alternate, move-y 4s linear 0s infinite alternate;
}