@font-face {
    font-family: "logo";
    src: url("../fonts/bringbold-nineties.ttf");
}

.logo-text {
    font-family: "logo" !important;
    letter-spacing: 0.05em; /* tweak here */
}

@font-face {
    font-family: "board";
    src: url("../fonts/rheiborn-sans-clean.ttf");
}

@font-face {
    font-family: "clue";
    src: url("../fonts/optikorinna-agency.otf");
}